@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,700");
body {
  font-family: Hind, sans-serif;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
}

h1 {
  font-size: 36px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

h2 {
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #ffffff;
}

h3 {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

h4 {
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.knap {
  margin: 20px 0 45px;
  padding: 7px 25px;
  border-radius: 50px;
  font-size: 7.5px;
  text-align: center;
  text-decoration: none;
  color: #0CB4F6;
  background-color: #ffffff;
  border: 0.5px solid #0CB4F6;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}

.cta {
  background-color: #4A90E2;
  color: #ffffff;
}

body {
  font-family: Hind, sans-serif;
}

#desktopHeader {
  display: none;
}

#logo {
  padding: 17px 23px;
}

#logo .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menubar {
  background-color: black;
  padding: 17px 23px;
}

#menubar .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menubar .menuIkonBurger {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#menubar .menuIkonSog {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menubar .menuIkonKurv {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#slideInMobil {
  height: 100%;
  background-color: #ffffff;
  left: -250px;
  position: fixed;
  width: 250px;
  z-index: 99;
  top: 0;
  padding: 30px 20px;
  -webkit-box-shadow: inset -5px 0px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset -5px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

#slideInMobil h3 {
  font-size: 23px;
  font-weight: normal;
}

#slideInMobil .menuPunkter {
  margin-top: 40px;
}

#slideInMobil .menuPunkter ul {
  margin: 0;
  padding: 0;
}

#slideInMobil .menuPunkter ul li {
  margin-bottom: 25px;
  font-size: 13px;
  padding: 0;
  list-style: none;
}

#slideInMobil .menuPunkter ul li a {
  text-decoration: none;
  color: #000000;
}

#slideInMobil .menuPunkter ul li:last-child {
  margin: unset;
}

#slideInMobil .menuPunkter ul li:hover {
  background: none;
  color: #4A90E2;
}

#slideInMobil .menuPunkter ul li:after {
  content: ">";
  float: right;
  color: #C1B7B7;
  font-size: 12px;
}

#kurvSlideDown {
  display: none;
  margin: 0 15px 15px 15px;
  padding: 20px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  z-index: 100;
  width: unset;
  position: relative;
}

#kurvSlideDown .kurvTop {
  --bs-gutter-x: 0;
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 20px;
}

#kurvSlideDown .kurvTop a {
  padding: 15px 50px;
  margin: 10px 0 0;
  font-size: 15px;
}

#kurvSlideDown .kurvTop .total {
  text-align: right;
}

#kurvSlideDown .kurvTop .total p {
  margin: 0;
}

#kurvSlideDown .kurvMid {
  border-bottom: 1px solid #E9E9E9;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#kurvSlideDown .kurvMid .produktImg img {
  width: 100%;
}

#kurvSlideDown .kurvMid .produktData .navn {
  font-size: 13px;
  margin: 0;
}

#kurvSlideDown .kurvMid .produktData .pris {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}

#kurvSlideDown .kurvMid .produktData .antal {
  font-size: 13px;
}

#kurvSlideDown .kurvBund {
  padding-top: 20px;
  text-align: center;
}

#kurvSlideDown .kurvBund a {
  color: #000000;
  border: none;
  text-decoration: underline;
  font-size: 14px;
  font-weight: normal;
  font-family: Hind, sans-serif;
}

#hero {
  background-image: url("../img/hero.png");
  background-position: center center;
  background-size: cover;
  height: 230px;
  padding: 50px 20px 0 20px;
  text-align: center;
}

#productSlider {
  --bs-gutter-x: unset;
  padding: 20px 12px;
}

#productSlider .topSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 20px;
}

#productSlider .topSlider .heading {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
}

#productSlider .sliderNav {
  text-align: right;
}

#productSlider .sliderNav .owl-prev, #productSlider .sliderNav .owl-next {
  background: #F5F5F5;
  border: 0;
  margin: 0 1px;
}

#productSlider .sliderNav .owl-prev span, #productSlider .sliderNav .owl-next span {
  padding: 5px;
}

#productSlider .product img {
  padding: 5px 20px;
  border: 0.5px solid #EBEBEB;
}

#productSlider .product .productInfo {
  background: #FBFBFB;
  padding: 12px 20px;
  text-align: center;
  border: 0.5px solid #EBEBEB;
  border-top: unset;
}

#productSlider .product .productInfo .name {
  font-size: 6.5px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

#productSlider .product .productInfo .price {
  font-size: 8px;
  font-weight: bold;
  margin-bottom: 3.5px;
}

#productSlider .product .productInfo .knap {
  padding: 5px 12px;
  font-size: 5px;
  background-color: unset;
}

footer {
  background: #303030;
  padding: 20px;
  color: #808080;
  font-size: 12px;
}

footer h4 {
  color: #FFFFFF;
  margin: 30px 0 12px;
}

footer p {
  line-height: 20px;
}

footer ul {
  list-style: none;
  padding: unset;
}

footer ul li {
  padding: 5px 0;
}

footer .socialIcons {
  margin-top: 35px;
}

footer .socialIcons img {
  display: block;
  margin-bottom: 7px;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 36px;
  }
  .knap {
    padding: 12px 45px;
    font-size: 15px;
  }
  .mobilHeader {
    display: none;
  }
  #desktopHeader {
    display: block;
  }
  #desktopHeader .topNav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 150px;
  }
  #desktopHeader .logo img {
    width: 100%;
    max-width: 275px;
  }
  #desktopHeader .search-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F3F3F3;
    border: 1px solid #E3E3E3;
    border-radius: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
  }
  #desktopHeader .search-container .searchField {
    width: 100%;
    border: none;
    background: none;
  }
  #desktopHeader .prisKurv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #desktopHeader .prisKurv .itemsIn {
    margin-left: 10px;
  }
  #desktopHeader .prisKurv .itemsIn span {
    width: 20px;
    position: absolute;
    top: 30px;
    background: #000000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
  }
  #desktopHeader .botNav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 150px;
    background: #000000;
  }
  #desktopHeader .botNav .navbar .nav-link {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
  }
  #desktopHeader .botNav .dropdown-menu {
    width: 245px;
    padding: 20px 30px 20px 20px;
  }
  #desktopHeader .botNav .dropdown-menu .dropdown-item {
    margin-bottom: 25px;
    font-size: 13px;
    padding: 0;
  }
  #desktopHeader .botNav .dropdown-menu .dropdown-item:last-child {
    margin: unset;
  }
  #desktopHeader .botNav .dropdown-menu .dropdown-item:hover {
    background: none;
    color: #4A90E2;
  }
  #desktopHeader .botNav .dropdown-menu .dropdown-item:after {
    content: ">";
    float: right;
    color: #C1B7B7;
    font-size: 12px;
  }
  #kurvSlideDown {
    display: none;
    width: 450px;
    position: absolute;
    right: 120px;
    top: 80px;
  }
  #hero {
    height: 570px;
    padding: 175px 0 140px;
  }
  #hero h1 {
    width: 530px;
    margin: auto;
    line-height: 65px;
  }
  #hero h2 {
    margin-bottom: 35px;
  }
  #productSlider {
    padding: 50px 115px;
  }
  #productSlider .heading h3 {
    font-size: 22px;
  }
  #productSlider .product .productInfo {
    padding: 25px 60px;
  }
  #productSlider .product .productInfo .name {
    font-size: 13px;
  }
  #productSlider .product .productInfo .price {
    font-size: 16px;
    margin-bottom: 10px;
  }
  #productSlider .product .productInfo .knap {
    padding: 10px 24px;
    font-size: 10px;
    background-color: unset;
  }
  footer {
    padding: 20px 150px;
  }
}
/*# sourceMappingURL=style.css.map */