@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700')
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,700')
$white: #ffffff
$black: #000000
//$blackD: #363636
//$search: #F3F3F3
//$search2: #E3E3E3
//$greyD: #303030
//$greyL: #808080
$Lblue: #0CB4F6
$blue: #4A90E2
$fontHeading: Montserrat, sans-serif
$fontBase: Hind, sans-serif


    
body
    font-family: $fontBase
    position: absolute
    margin: 0
    padding: 0
    left: 0
    top: 0
    width: 100%



h1
    font-size: 36px
    font-family: $fontHeading
    font-weight: bold
    color: $white
    margin: 0

h2
    font-size: 18px
    font-family: $fontHeading
    font-weight: bold
    color: $white

h3
    font-size: 13px
    font-family: $fontHeading
    font-weight: bold
    color: $black
    margin: 0

h4
    font-size: 15px
    font-family: $fontHeading
    margin: 0


.knap
    margin: 20px 0 45px 
    padding: 7px 25px
    border-radius: 50px
    font-size: 7.5px
    text-align: center
    text-decoration: none
    color: $Lblue
    background-color: $white
    border: 0.5px solid $Lblue
    font-weight: bold
    font-family: $fontHeading


.cta
    background-color: $blue
    color: $white



body 
  font-family: $fontBase

#desktopHeader
    display: none

#logo
    padding: 17px 23px

    .col
        display: flex
        justify-content: center
            
    
#menubar
    background-color: black
    padding: 17px 23px

    .col
        display: flex

    .menuIkonBurger
        justify-content: flex-start

    .menuIkonSog
        justify-content: center
    
    .menuIkonKurv
        justify-content: flex-end


#slideInMobil
    height: 100%
    background-color: $white
    left: -250px  /* start off behind the scenes */
    position: fixed
    width: 250px
    z-index: 99
    top: 0
    padding: 30px 20px
    box-shadow: inset -5px 0px 15px 0px rgba(0,0,0,0.15)


    h3
        font-size: 23px
        font-weight: normal

    .menuPunkter
        margin-top: 40px

        ul
            margin: 0
            padding: 0

            li
                margin-bottom: 25px
                font-size: 13px
                padding: 0
                list-style: none

                a
                    text-decoration: none
                    color: $black



                &:last-child
                    margin: unset

                &:hover
                    background: none
                    color: $blue

                &:after
                    content: ">"
                    float: right
                    color: #C1B7B7
                    font-size: 12px

#kurvSlideDown
    display: none
    margin: 0 15px 15px 15px
    padding: 20px
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2)
    background-color: $white
    z-index: 100
    width: unset
    position: relative
  

    .kurvTop
        --bs-gutter-x: 0
        border-bottom: 1px solid #E9E9E9
        padding-bottom: 20px

        a
            padding: 15px 50px
            margin: 10px 0 0
            font-size: 15px
            bor

        .total
            text-align: right
            p
                margin: 0

    .kurvMid
        border-bottom: 1px solid #E9E9E9
        padding: 20px 0
        align-items: center


        .produktImg
            img
                width: 100%

        .produktData
            .navn
                font-size: 13px
                margin: 0

            .pris
                font-size: 16px
                font-weight: bold
                margin-bottom: 25px

            .antal
                font-size: 13px
    
    .kurvBund
        padding-top: 20px
        text-align: center
        
        a
            color: $black
            border: none
            text-decoration: underline
            font-size: 14px
            font-weight: normal
            font-family: $fontBase







#hero
    background-image: url("../img/hero.png")
    background-position: center center
    background-size: cover
    height: 230px
    padding: 50px 20px 0 20px
    text-align: center


#productSlider
    --bs-gutter-x: unset
    padding: 20px 12px
    
    .topSlider
        display: flex
        align-content: center
        padding-bottom: 20px

        .heading
            align-self: center
            text-transform: uppercase


    .sliderNav
        text-align: right
        .owl-prev, .owl-next
            background: #F5F5F5
            border: 0
            margin: 0 1px
            
            span
                padding: 5px


    .product

        img
            padding: 5px 20px
            border: 0.5px solid #EBEBEB

        .productInfo
            background: #FBFBFB
            padding: 12px 20px
            text-align: center
            border: 0.5px solid #EBEBEB
            border-top: unset

            .name
                font-size: 6.5px
                text-transform: uppercase
                margin-bottom: 0px

            .price
                font-size: 8px
                font-weight: bold
                margin-bottom: 3.5px

            .knap
                padding: 5px 12px
                font-size: 5px
                background-color: unset


footer
    background: #303030
    padding: 20px
    color: #808080
    font-size: 12px


    h4
        color: #FFFFFF
        margin: 30px 0 12px

    p  
        line-height: 20px

    ul
        list-style: none
        padding: unset  
        
        li
            padding: 5px 0
    
    .socialIcons

        margin-top: 35px
        img
            display: block
            margin-bottom: 7px


    // Large devices (desktops, 769px and up)
@media (min-width: 1024px)

    h1
        font-size: 72px

    h2
        font-size: 36px

    .knap
        padding: 12px 45px
        font-size: 15px


    .mobilHeader
        display: none

    #desktopHeader
        display: block
        

        .topNav
            align-items: center
            padding: 25px 150px

        .logo
            img
                width: 100%
                max-width: 275px


        .search-container

            form
                display: flex
                background-color: #F3F3F3
                border: 1px solid #E3E3E3
                border-radius: 50px
                align-items: center
                padding: 10px 20px

            .searchField
                width: 100%
                border: none
                background: none

        .prisKurv
            display: flex

            .itemsIn
                margin-left: 10px
                img

                span
                    width: 20px
                    position: absolute
                    top: 30px
                    background: #000000
                    color: #fff
                    border-radius: 50%
                    text-align: center
                    font-size: 14px

        .botNav
            align-items: center
            padding: 0px 150px
            background: $black

            .navbar
                .nav-link
                    color: $white
                    font-family: $fontHeading
                    font-size: 14px

            .dropdown-menu
                width: 245px
                padding: 20px 30px 20px 20px

                .dropdown-item
                    margin-bottom: 25px
                    font-size: 13px
                    padding: 0

                    &:last-child
                        margin: unset

                    &:hover
                        background: none
                        color: $blue

                    &:after
                        content: ">"
                        float: right
                        color: #C1B7B7
                        font-size: 12px


    #kurvSlideDown
        display: none
        width: 450px
        position: absolute
        right: 120px
        top: 80px



    #hero
        height: 570px
        padding: 175px 0 140px

        h1
            width: 530px
            margin: auto
            line-height: 65px

        h2
            margin-bottom: 35px
    
    #productSlider
        padding: 50px 115px

        .heading
            h3
                font-size: 22px

        .product


            .productInfo
                padding: 25px 60px

                .name
                    font-size: 13px


                .price
                    font-size: 16px
                    margin-bottom: 10px


                .knap
                    padding: 10px 24px
                    font-size: 10px
                    background-color: unset

    footer
        padding: 20px 150px